.container {
    width: 100vw;
    height: 87vh;
    box-sizing: border-box;

    text-align: center;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
}

.pesquisa {
    margin-top: 5px;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

form #texto {
    padding: 3px 10px;
    width: 50vw;
    border-radius: 10px;
    border: 1px #000 solid;
    background-color: #272727;
    color: aliceblue;
    background-color: #141414;
}

.search-button {
    background-color: #272727;
    color: aliceblue;
    border: none;
    font-size: 1.2em;
    margin-left: 5px;
}

.search-button :hover{
    color: #032cfc;
}