.footer {
    margin: auto;
    width: 100vw;
    height: 3vh;
    background-color: #141414;
    position: fixed;
    bottom: 0;
    justify-content: center;
    text-align: center;

    color: aliceblue;
}

.footer span {
    margin: auto;
    
}